#galerie-statica {
    padding-left: var(--padding-intern);
    padding-right: var(--padding-intern);
  }
  
  #grid-galerie {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 0.5em;
    counter-reset: nrimag 1;
  }
  
  #grid-galerie img {
    width: 100%;
    height: auto;
  }
  
  /* Ascundem imaginile de pe pozițiile 2,2 și 2,3 */
  #grid-galerie figure:nth-child(5){
    grid-row:2;
    grid-column: 3;
  }
  #grid-galerie figure:nth-child(6) {
    grid-row: 3;
    grid-column: 1;
  }
  
  #grid-galerie figure:nth-child(7) {
    grid-row: 3;
    grid-column: 3;
  }
  
  #grid-galerie figure:nth-child(8) {
    grid-row: 4;
    grid-column: 1;
  }
  
  #grid-galerie figure:nth-child(9) {
    grid-row: 4;
    grid-column: 2;
  }
  
  #grid-galerie figure:nth-child(10) {
    grid-row: 4;
    grid-column: 3;
  }
  
  
  #grid-galerie figcaption {
    text-align: center;
    counter-increment: nrimag; /* Incrementăm numărul imaginilor */
  }
  
  #grid-galerie figcaption::before {
    content: counter(nrimag, upper-alpha) ")";
  }
  
  @media screen and (max-width: 500px) {
    #grid-galerie {
      grid-template-columns: repeat(2, 1fr); /* Grid pe 2 coloane pentru ecrane mici */
    }
  }