body{
    
    --dim-spatiere:50px;
    padding-left: var(--dim-spatiere);
    padding-right: var(--dim-spatiere);
    color: var(--culoare-text);
}

h1{
    /*border: 1cm solid var(--culoare-fundal)*/
    background-color: var(--culoare-fundal);
    margin-left: auto;
    margin-right: auto;
    border: 5px solid black;
    box-shadow: 5px 5px 5px black;
    text-align: center;
    color:var(--culoare-accentp);
    
}
footer{

  #link-top{
    position:fixed;
    bottom:0.3em;
    opacity:0.5;
    left:0.1em;
    width:3rem;
    box-sizing: border-box;
    height:3rem;
    line-height:3rem;
    text-align:center;
    border:5px solid grey;
    border-top-color:red;
    border-bottom-color: red;
    border-radius:50%;
    background: rgb(220,220,220);
    font-size: 2.5em;
    filter:blur(0.04em);
    transition:all 1s linear;
    box-shadow: inset 0 0 0.15em #000000;
  }
  #link-top:hover{
    opacity:1;
    filter:none;
    transform: rotateZ(90deg);
  }
  #sageata{
    position: relative;
    vertical-align: top;
    display: inline-block;
    transform: translateY(-20%);
    width: 1em;
    height: 1em;
    color: red;
    transition: all 1s linear;
  }
}
#link-top:hover>#sageata{
    color: red;
    transform:  rotateZ(-90deg)  translateY(-20%);
}

html{
  --culoare-fundal: #DAF533;
  --culoare-text:#16F262;
  --culoare-text2:#71F216;
  --culoare-accent:#1FF5B2;
  --culoare-border: #67F267;
}
