body{
    --culoare-fundal: #E0D582;
    --dim-spatiere:50px;
    padding-left: var(--dim-spatiere);
    padding-right: var(--dim-spatiere);
}
p{
    color: blue;
}
h1{
    /*border: 1cm solid var(--culoare-fundal)*/
    background-color: var(--culoare-fundal);
    margin-left: auto;
    margin-right: auto;
    border: 5px solid black;
    box-shadow: 5px 5px 5px black;
    text-align: center;
    
}