<footer>
    <p id="absolut"></p>
    <a href="#" title="mergi sus" id="link-top"><div id="sageata">&#8593</div></a>
    <address>
        <p><i class="fa fa-phone"></i> Telefon: <a href="tel:+0768488508">0768488508</a></p>
        <p></p><a href="https://www.google.com/maps/place/Strada+%C8%98tirbei+Vod%C4%83,+Bucure%C8%99ti/@44.4398663,26.0844201,17z/data=!3m1!4b1!4m6!3m5!1s0x40b1ff5ba6073e01:0xd59e58515ba8b165!8m2!3d44.4398625!4d26.086995!16s%2Fg%2F11b8v5fwkf?entry=ttu" target="_blank">Locatie</a>
        <p></p><a href="https://wa.me/0768488508" target="_blank">Message Us on WhatsApp</a>
        <p>Email: <a href = "mailto:andreistanica233@gmail.com" >andreistanica233@gmail.com</a> </p>    
    </address>
    <a href="fisier.pdf" download>descarcabil</a>
    <p><small>Copyright &copy; <time datetime="2012-10-18">18 octombrie 2012</time></small></p>
   
</footer>