<header>
    <h1>Magazin de biciclete</h1>
    <p id="watermark"></p>
    <nav>
        
        <label id="hamburger" for="ch-menu">
            <img src="resurse/imagini/Hamburger_icon_alb.png" alt="menu">
        </label>
        <input id="ch-menu" type="checkbox">
        <ul class="meniu">
            <li><div id="acasa">Acasa</div><div id="acasa-mediu"><i class="fa fa-house"></i></div>
                <ul>
                    <li><a href="#welcome">Bine ati venit</a></li>
                    <li><a href="#promotii">Promotii</a></li>
                    <li><a href="#anunturi">Anunturi</a></li>
                    <li><a href="#calendar"></a>Calendar</a></li>
                    <li><a href="#orar">Orar</a></li>
                    <li><a href="#lista_utilizatori">Lista utiliatori</a></li>
                    <li><a href="date_utilizatori">Date utilizatori</a></li>
                    <li><a href="date_site">Date site</a></li>
                </ul>
            
            
            </li>
            <li><div>Inregistrare</div><a href="#"></a></li>
            <li><div>Despre</div>
                <ul>                        
                    <li><a href="despre.html#prezentare">Prezentare</a></li>
                    <li><a href="despre.html#istoric">Istoric</a></li>
                    <li><a href="despre.html#motivatie">Motivatie</a></li>
                    <li><a href="despre.html#galerie">Galerie</a></li>
                </ul>
            </li>
            <li><div>Produse</div>
                <ul>
                    <li><a href="http://www.google.com">Toate</a></li>
                    <li><a href="#">MTB</a></li>
                    <li><a href="#">Road Bikes</a></li>
                    <li><a href="#">Componente</a></li>
                </ul>
            
            </li>
            <li><div>Contact</div><a href="#"></a></li>
        </ul>
    </nav>
</header>
