<header>
    <h1>Magazin de biciclete</h1>
    <p id="watermark"></p>
    <nav>
        
        <label id="hamburger" for="ch-menu">
            <img src="resurse/imagini/Hamburger_icon_alb.png" alt="menu">
        </label>
        <input id="ch-menu" type="checkbox">
        <ul class="meniu">
            <li><div id="acasa">Acasa</div><div id="acasa-mediu"><i class="fa fa-house"></i></div>
                <ul>
                    <li><a href="/index#welcome">Bine ati venit</a></li>
                    <li><a href="/index#promotii">Promotii</a></li>
                    <li><a href="/index#anunturi">Anunturi</a></li>
                    <li><a href="/index#calendar"></a>Calendar</a></li>
                    <li><a href="/index#orar">Orar</a></li>
                    <li><a href="/index#lista_utilizatori">Lista utiliatori</a></li>
                    <li><a href="/index#date_utilizatori">Date utilizatori</a></li>
                    <li><a href="/index#date_site">Date site</a></li>
                </ul>
            
            
            </li>
            <li><div>Inregistrare</div><a href="/inregistrare"></a></li>
            <li><div>Despre</div>
                <ul>                        
                    <li><a href="/despre#prezentare">Prezentare</a></li>
                    <li><a href="/despre#istoric">Istoric</a></li>
                    <li><a href="/despre#motivatie">Motivatie</a></li>
                    <li><a href="/despre#galerie">Galerie</a></li>
                </ul>
            </li>
            <li><div>Produse</div>
                <ul>
                    <li><a href="/produse">Toate</a></li>
                    <% for (let opt of locals.optiuni) { %>
                        <li><a href ="/produse?categorie=<%- opt.unnest %>"><%- opt.unnest %></a></li>
                    <% } %>
                </ul>
            
            </li>
            <li><div>Contact</div><a href="#"></a></li>
            <% include("submeniu-administrare.ejs")  %>
            <% include("submeniu-utilizator-logat.ejs")  %>
        </ul>
    </nav>
</header>
